In [1]:
import requests
import json

response_API = requests.get('https://restcountries.com/v3.1/all')
data = json.loads(response_API.text)

In [ ]:
json_formatted_str = json.dumps(data[0], indent=2)

print(json_formatted_str)

In [19]:
data[0].keys()

dict_keys(['name', 'tld', 'cca2', 'ccn3', 'cca3', 'cioc', 'independent', 'status', 'unMember', 'currencies', 'idd', 'capital', 'altSpellings', 'region', 'subregion', 'languages', 'translations', 'latlng', 'landlocked', 'borders', 'area', 'demonyms', 'flag', 'maps', 'population', 'gini', 'fifa', 'car', 'timezones', 'continents', 'flags', 'coatOfArms', 'startOfWeek', 'capitalInfo', 'postalCode'])

Population

In [13]:
for country in data:
    if country['population'] ==None:
        print(1)

Languages:

In [6]:
print(list(data[1]['languages'].keys())) # language codes
print(list(data[1]['languages'].values())) # language names

['cal', 'cha', 'eng']
['Carolinian', 'Chamorro', 'English']

In [3]:
for i in range(7):
    print(data[i]['languages'])

{'ara': 'Arabic'}
{'cal': 'Carolinian', 'cha': 'Chamorro', 'eng': 'English'}
{'srp': 'Serbian'}
{'cat': 'Catalan'}
{'eng': 'English'}
{'eng': 'English'}

KeyError: 'languages'

Conclusion: Hay paises con muchos lenguajes y con ninguno

MONEDAS

In [18]:
paises_sin_currency = 0
paises_multiples_currency =0
for i in range(len(data)):
    try:
        if len(data[i]['currencies']) != 1:   
            paises_multiples_currency +=1
    except:
        paises_sin_currency +=1

print(f'paises sin currency: {paises_sin_currency}')
print(f'paises con multiples currencies: {paises_multiples_currency}')

paises sin currency: 3
paises con multiples currencies: 19

In [26]:
list(data[38]['currencies'].values())

[{'name': 'Panamanian balboa', 'symbol': 'B/.'},
 {'name': 'United States dollar', 'symbol': '$'}]

In [15]:
for country in data:
    print(list(country['currencies'].keys()))

['JOD']
['USD']
['RSD']
['EUR']
['USD']
['BMD']

KeyError: 'currencies'

In [30]:
print(list(data[38]['currencies'].keys()))
print( [x['name'] for x in list(data[38]['currencies'].values())])

['PAB', 'USD']
['Panamanian balboa', 'United States dollar']

CONTINENTES:

In [10]:
for i in range(len(data)):
    if len(data[i]['continents']) != 1 or type(data[i]['continents']) != list:
        print(i)

In [37]:
data[7]['continents']

['South America']

1 solo continente por pais

CAPITALES:

In [15]:
for i in range(len(data)):
    try:
        if len(data[i]['capital']) != 1:
            print(i)
    except:
        print('pais sin capital')

pais sin capital
pais sin capital
142
157
pais sin capital
pais sin capital

In [41]:
data[142]['capital']

['Ramallah', 'Jerusalem']

BANDERA

In [9]:
for country in data:
    if country['flag'] == None or '':
        print(country)

no nulls

In [16]:
print(dict(x=2))

{'x': 2}

In [19]:
data[0]['name']['common']

'Jordan'

QUERY

In [6]:
from sqlalchemy import create_engine, text
import pandas as pd
engine = create_engine('postgresql://username:password@localhost:5432/paises')
conn = engine.connect() 
query = text(f""" 
            SELECT p.nombre, c.nombre as continente, p.poblacion, STRING_AGG(distinct cap.nombre, ',') as capitales,
             STRING_AGG(distinct m.nombre,',') as monedas, STRING_AGG(distinct l.nombre,',') as lenguajes, p.bandera
             FROM Paises as p left join Continentes as c on p.id_continente = c.id_continente
                left join Capitales as cap on p.id_pais = cap.id_pais
                left join MonedasPorPais as mpp on p.id_pais = mpp.id_pais
                left join Monedas as m on mpp.codigo_moneda = m.codigo_moneda
                left join LenguajesPorPais as lpp on p.id_pais = lpp.id_pais 
                left join Lenguajes as l on lpp.codigo_lenguaje = l.codigo_lenguaje
            GROUP BY p.nombre, c.nombre, p.poblacion, p.bandera
             """)
df = pd.DataFrame( conn.execute(query).fetchall() )

In [9]:
df.head(3)

,nombre,continente,poblacion,capitales,monedas,lenguajes,bandera
0,Afghanistan,Asia,40218234,Kabul,Afghan afghani,"Dari,Pashto,Turkmen",ðŸ‡¦ðŸ‡«
1,Ã…land Islands,Europe,29458,Mariehamn,Euro,Swedish,ðŸ‡¦ðŸ‡½
2,Albania,Europe,2837743,Tirana,Albanian lek,Albanian,ðŸ‡¦ðŸ‡±

In [8]:
df.to_excel('example.xlsx', sheet_name='Paises')

In [6]:
top_5_population_countries = df[['nombre','poblacion']].sort_values('poblacion',ascending=False).head()

            nombre   poblacion
46           China  1402112000
101          India  1380004385
236  United States   329484123
102      Indonesia   273523621
167       Pakistan   220892331

In [24]:

from openpyxl import load_workbook
from openpyxl.chart import Reference, BarChart

writer = pd.ExcelWriter('example.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='Paises', index=False)

continent_count = df.groupby(['continente']).count()['nombre']
continent_count.to_excel(writer, sheet_name='Metricas', startrow=0, startcol=0)

top_5_population_countries = df[['nombre','poblacion']].sort_values('poblacion',ascending=False).head()
top_5_population_countries.to_excel(writer, sheet_name='Metricas', startrow=10, startcol=0)
writer.save()

wb = load_workbook('example.xlsx')
# wb = writer.book
ws = wb['Metricas'] 

chart0 = BarChart()
chart0.title = "Paises en cada continente"  # Set the chart title
chart0.x_axis_title = "continente"  # Set the x-axis title
chart0.y_axis_title = "cantidad"  # Set the y-axis title
# data = worksheet['C12':'C16']
data = Reference(ws, min_col=2, min_row=1, max_row=8)
categories = Reference(ws, min_col=1, min_row=2, max_row=8)
chart0.add_data(data, titles_from_data=True)
chart0.set_categories(categories)
ws.add_chart(chart0, "E5")

chart0 = BarChart()
chart0.title = "Top 5 paises con mas habitantes"  # Set the chart title
chart0.x_axis_title = "pais"  # Set the x-axis title
chart0.y_axis_title = "cantidad"  # Set the y-axis title
# data = worksheet['C12':'C16']
data = Reference(ws, min_col=3, min_row=11, max_row=16)
categories = Reference(ws, min_col=2, min_row=12, max_row=16)
chart0.add_data(data, titles_from_data=True)
chart0.set_categories(categories)
ws.add_chart(chart0, "E23")
wb.save('example.xlsx')

C:\Users\zubik\AppData\Local\Temp\ipykernel_8660\2328932300.py:12: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [ ]:
import smtplib
def send_email():
    email_user = 'zubik.tomas@gmail.com'
    server = smtplib.SMTP ('smtp.gmail.com', 587)
    server.starttls()
    server.login(email_user, 'voreta01')

    #EMAIL
    message = 'sending this from python!'
    server.sendmail(email_user, email_user, message)
    server.quit()

In [29]:
import smtplib
import mimetypes
from email.message import EmailMessage

message = EmailMessage()
message.set_content('Este email contiene adjunto un excel con paises')
message['Subject'] = 'Excel paises'
message['From'] = 'me@example.com'
message['To'] = 'user@example.com'
# message.attach('example.xlsx')

mime_type, _ = mimetypes.guess_type('example.xlsx')
mime_type, mime_subtype = mime_type.split('/', 1)
with open('example.xlsx', 'rb') as ap:
     message.add_attachment(ap.read(), maintype=mime_type, subtype=mime_subtype,
                        filename='example.xlsx')

smtp_server = smtplib.SMTP('localhost:1025')
smtp_server.send_message(message)
smtp_server.quit()

(221, b'Bye')